<html layout:decorate="~{global/layout}">
<div layout:fragment="content">

    <h1>Article Detail</h1>

    <h1>Id : <span th:text="${article.id}"></span></h1>
    <h2>Title : <span th:text="${article.title}"></span></h2>
    <h2>Content</h2>
    <div th:text="${article.body}"></div>

    <hr>

    <ul style="display: flex; gap: 20px;">
        <li><a th:href="|/article/modify/${article.id}|">수정</a></li>
        <li><a onClick="return confirm('정말로 삭제하시겠습니까?')" th:href="|/article/delete/${article.id}|">삭제</a></li>
    </ul>
</div>
</html>