<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="p-2">

    <h1 class="text-center"><i class="fa-regular fa-newspaper"></i> Article Detail</h1>

    <hr>

    <div>
        <div class="badge badge-outline" th:text="${article.id}">default</div>
        <span th:text="${article.title}"></span>
    </div>

    <div class="mt-2" th:text="${article.body}"></div>

    <hr class="mt-2">

    <ul class="flex gap-5 justify-center">
        <li><a th:if="${@articleService.canModify(@rq.member, article)}" th:href="|/article/modify/${article.id}|">수정</a></li>
        <li><a th:if="${@articleService.canModify(@rq.member, article)}" onClick="return confirm('정말로 삭제하시겠습니까?')" th:href="|/article/delete/${article.id}|">삭제</a></li>
    </ul>
</div>
</html>