<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="p-2">

    <h1 class="text-center">Article Modify</h1>

    <form class="flex flex-col gap-2" action="/article/modify" method="POST" onsubmit="submitModifyForm(this); return false;">
        <input type="hidden" name="id" th:value="${article.id}">
        <div class="form-control w-full">
            <label class="label">
                <span class="label-text">Title</span>
            </label>

            <label>
                <input type="text" name="title" placeholder="Request Title" th:value="${article.title}" class="input input-bordered w-full"/>
            </label>
        </div>

        <div class="form-control w-full">
            <label class="label">
                <span class="label-text">Content</span>
            </label>

            <label>
                <input type="text" name="body" placeholder="Request Content" th:value="${article.body}" class="input input-bordered w-full"/>
            </label>
        </div>

        <!-- javascript:; 는 아무것도 하지 않는다는 뜻 -->
        <button class="btn btn-primary btn-block mt-3" type="submit">
            수정
        </button>
    </form>

    <script>
        function submitModifyForm(form) {
            const inputTitle = form.title;
            const inputBody = form.body;

            inputTitle.value = inputTitle.value.trim();
            inputBody.value = inputBody.value.trim();

            const title = inputTitle.value;
            const body = inputBody.value;

            if (title.length == 0) {
                toastWarning('제목을 입력해주세요.');
                inputTitle.focus();

                return;
            }

            if (body.length == 0) {
                toastWarning('내용을 입력해주세요.');
                inputBody.focus();

                return;
            }

            form.submit();
        }
    </script>
</div>
</html>