<!doctype html>
<html lang="ko" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIMPLE</title>

    <!-- 폰트어썸 불러오기 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://jhs512.github.io/toastr/toastr.css" rel="stylesheet">

    <link rel="stylesheet" href="/resource/global.css">
    <script src="/resource/global.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.8/dist/full.min.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>

<th:block layout:fragment="header"></th:block>

<script>
    const queryParams = getQueryParams();

    if (queryParams.msg) {
        toastNotice(queryParams.msg);
    }

    // 일부 브라우저에서 발생할 수 있는 문제를 처리하기 위해 bind로 감싼다.
    $(window).bind("pageshow", function (event) {
        // 중복된 이름일 경우 js.html 에서 localStorage에 메세지를 저장시켜서 넘겨준다.
        // 데이터를 저장한 뒤 메세지가 있다면 중복된 이름 메세지를 사용자에게 출력한다.
        const historyBackMsg = localStorage.getItem("historyBackMsg");

        if(historyBackMsg){
            toastWarning(historyBackMsg);
            localStorage.clear();
        }
    });
</script>

<main class="p-4">
    <th:block layout:fragment="content"></th:block>
</main>

</body>
</html>